 .texto1 {
background-color: #60ff93;
border-radius: 5px;
 }
 .texto2 {
    background-color: #ff70ff;
    border-radius: 5px;
     }
     .texto3 {
      background-color: #f65080;
      border-radius: 5px;
       }